{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


<div class="container">
  <a href="{% url 'home' %}"><button class="btn btn-info mt-4">Go Back</button></a>
  <div class="row">
    <div class="col-md-6 mb-4 mt-4 d-flex bg-danger justify-content-center align-items-center">
      <img src="{{ art.auctionimage.url }}" alt="{{ art.title }}" class="img-fluid">
    </div>
    <div class="col-md-6 mb-4 mt-4">
      <div class="artindexdetails  p-4">
        {% if art.status == 'sold' %}
        <h2 class='text-success'>Sold to {{ winner.buyer.nickname }}</h2>
        {% endif %}
        <h3>Art Details {{art.title}}</h3>
        <p>Description: {{ art.description }}</p>
        <p>Reserved Price: {{ art.reservedPrice }}</p>
        <p>Buying Price: {{ art.buyingPrice }}</p>
        <p>Category: {{ art.typeCategory }}</p>
        <p>Start Time: <span class="startingtime">{{ art.startTime }}</span></p>
        <p>End Time: <span class="endingtime">{{ art.EndTime }}</span></p>
        <p>Status: {{ art.status|capfirst }}</p>
        <p>Seller: {{ art.owner.profile.nickname }}</p>

        {% if art.status == 'sold' %}
        {% else %}
        <div class="d-flex justify-content-between align-items-center">
          <form method="post" id='interestedForm'>
            {% csrf_token %}
            <input type="hidden" name="interested" value='interested'>
            <input type="hidden" name="artid" value="{{art.id}}">
            {% if likedArt %}
            <button type='submit' id='liked' class="btn btn-outline-success btn-sm">Added</button>
            {% else %}
            <button type='submit' id='liked' class="btn btn-outline-secondary btn-sm">Add to Interest</button>
            {% endif %}
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $('#interestedForm').submit(function(event){
    event.preventDefault()
    let price = parseInt($('#biddingPrice').val());

    form = $('#interestedForm')
    likebtn = $('#liked')

    $.ajax({
      'url':'{% url "interested" %}',
      'type':'POST',
      'data':form.serialize(),
      'dataType':'json',
      'success': function(data){
        console.log(data)
        if(data['addedsuccessful'] == 1){
          likebtn.removeClass('btn-outline-secondary btn-sm')
          likebtn.addClass('btn-outline-success btn-sm')
          likebtn.text('Added')
          // alert(data['success'])
        }else{
          likebtn.removeClass('btn-outline-success btn-sm')
          likebtn.addClass('btn-outline-secondary btn-sm')
          likebtn.text('Add to Interest')
          // alert('Removed from your Interest Collection')
        }
      }
    })
  })

</script>
{% endblock %}