{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4 mt-4 d-flex justify-content-center align-items-center">
      <img src="{{ art.auctionimage.url }}" alt="{{ art.title }}" class="img-fluid bigimage">
    </div>
    <div class="col-md-6 mb-4 mt-4">
      <div class="container">
        <h2>Bidding on {{art.title}}</h2>
        <div class="d-flex justify-content-between align-items-center">
          <p>Bidding Price: <span class="bddprice">{{ art.reservedPrice }}</span> Ksh</p>
          <p>Buying Price: {{ art.buyingPrice }} Ksh</p>
          <p></p>
        </div>
        <small id="timewriting"></small><small id="timestatus"></small>
        <p>Seller: <strong>{{ art.owner.profile.nickname }}</strong></p>
      </div>

      <div class="container">
        <form id="biddingform">
          {% csrf_token %}
          <input type="number" name="biddingPrice" id="biddingPrice" minlength='{{ inputlen }}'>
          <input type="hidden" name="artid" value="{{art.id}}">
          <button class="btn allbtn btn-sm" type="submit">Bid</button><br>
          <small class='text-danger' id="warning"></small>
        </form>
        <small>Bid Price be higher than: <span class="text-danger bddprice">{{ art.reservedPrice }}</span> </small>
      </div>
      <div class="artindexdetails  p-4">
        <p>Category: {{ art.typeCategory }}</p>
        <p>Start Time: <span id="startingtime">{{ art.startTime }}</span></p>
        <p>End Time: <span id="endingtime">{{ art.EndTime }}</span></p>
        <p>Status: <span class="statusind">{{ art.status|capfirst }}</span></p>
      </div>
    </div>
  </div>

  <div class="bidderslist p-2">
    <h3 class='text-center'>List of Bidders</h3>
    <ol id='bidlist'>
      {% for participant in allparticipants %}
      <li class="listofbid p-3 mt-2">
        <div class="d-flex justify-content-between align-items-center">
          <p>{{participant.buyer.nickname}}</p>
          <p>{{participant.bidprice}}</p>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $('#biddingform').submit(function(event){
    event.preventDefault()
    let price = parseInt($('#biddingPrice').val());
    if (price <= parseInt('{{ art.reservedPrice }}')){
      $('#warning').text('Price is Equal or less than the Reserved Price')
    }else{
      $('#warning').text('.')
      form = $('#biddingform')
      $.ajax({
        'url':'{% url "ajaxbidprice" %}',
        'type':'POST',
        'data':form.serialize(),
        'dataType':'json',
        'success': function(data){
          $('.bddprice').text(data['price'])
          buildlist(data['allparticipants'])
        }
      })
      function buildlist(data){
        theul = $('#bidlist')
        for (let i = 0; i < data.length; i++){
          let entry = `
            <li class="listofbid p-3 mt-2">
              <div class="d-flex justify-content-between align-items-center">
                <p>${data[i][0]}</p>
                <p>${data[i][1]}</p>
              </div>
            </li>`
          theul.prepend(entry)
        }
      }
    }
  })

  $(document).ready(function(){
    starttime = moment(document.getElementById('startingtime').textContent, 'MMMM DD YYYY H:mmA').toString()
    endtime = moment(document.getElementById('endingtime').textContent, 'MMMM DD YYYY H:mmA').toString()
    // console.log(starttime)
    // console.log(endtime)
    timestatus = $('#timestatus')
    timewriting = $('#timewriting')

    const starting = Date.parse(starttime)
    const ending = Date.parse(endtime)

    const mycountdown = setInterval(()=>{
      const now = new Date().getTime()
      // console.log(now)
      // console.log(ending)
      
      const diff = starting - now 
      const toend = ending - now

      const d = Math.floor(starting/ (1000 * 60 * 60 * 24) - (now/ (1000 * 60 * 60 *24)))
      const h = Math.floor((starting/ (1000 * 60 * 60) - (now/ (1000 * 60 * 60))) % 24)
      const m = Math.floor((starting/ (1000 * 60) - (now/ (1000 * 60))) % 60)
      const s = Math.floor((starting/ (1000) - (now/ (1000))) % 60)

      const dtoend = Math.floor(ending/ (1000 * 60 * 60 * 24) - (now/ (1000 * 60 * 60 *24)))
      const htoend = Math.floor((ending/ (1000 * 60 * 60) - (now/ (1000 * 60 * 60))) % 24)
      const mtoend = Math.floor((ending/ (1000 * 60) - (now/ (1000 * 60))) % 60)
      const stoend = Math.floor((ending/ (1000) - (now/ (1000))) % 60)

      if(diff>0){
        let todis = d + ' days ' + h + ' hours ' + m + ' mins ' + s + ' secs'
        timewriting.text('Starts In: ')
        timestatus.text(todis)
      }else if (toend>0){
        let toendwhen = dtoend + ' days ' + htoend + ' hours ' + mtoend + ' mins ' + stoend + ' secs'
        timewriting.text('Ends In: ')
        timestatus.text(toendwhen)
      }else{
        clearInterval(mycountdown)
        timewriting.text('Ended: ')
        timestatus.text('--')
        $.ajax({
          'url':'/ajax/auctionWin/',
          'type':'POST',
          'data': {
            'artid':'{{ art.id}}',
            'csrfmiddlewaretoken':'{{ csrf_token }}',
            'wonprice': '{{ art.reservedPrice }}'
          },
          'dataType':'json',
          'success': function(data){
            console.log(data)
          }
        })
      }
    }, 1000)
  });
  
</script>
{% endblock %}