{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container mb-5 mt-5">
  <a href="{% url 'sellerProfile' %}"><button class="btn btn-info mt-4">Go Back</button></a>
  <div class="row">
    <div class="col-md-6 mb-4 mt-4 d-flex bg-dark  updatetheart justify-content-center align-items-center">
      <img src="{{ art.auctionimage.url }}" alt="{{ art.title }}" class="img-fluid">
    </div>
    <div class="col-md-6 mb-4 mt-4">
      <h1>Update Art Work</h1>
      <form method="post" enctype="multipart/form-data" action="{% url 'updateArt' art.id %}">
        {% csrf_token %}
        {% bootstrap_form artaddform %}
        <div class="text-center mt-5">
          <button type="submit" class="btn allbtn ">Update Art</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}