{% extends 'registration/base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-6 rightcollogin">
      <div class="float-md-right">
        <a class='btn loginbtn mt-4' href="{% url 'home' %}">Back Home</a>
      </div>

      <div class="mt-5 rightcollogindown d-flex flex-column justify-content-center align-items-center">
        <div class="container loginsize mt-5 mb-5 p-4">
          {% if form.errors %}
          <p> Some Information Might be Incorrect </p>
          {% endif %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="text-center">Sign Up</h3>
            </div>
            <div class="panel-body">

              <form action="{% url 'registrationpage' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group text-center">
                  <input type="submit" class="btn loginbtn btn-md" value="Sign Up">
                </div>

                <input type="hidden" name="next" value="{{next}}">

              </form>
            </div>

          </div>

        </div>
        <div class="text-center">
          <p>Already A Member <a href="{% url 'loginpage' %}"><i class="far fa-arrow-left"></i> Sign In</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 leftcollogin"></div>
  </div>
</div>
{% endblock %}